<div id="quote-template" class="">
  <audio id="audio-tag" controls>
    <source src="{{this.audioPath}}" type="audio/mp3">
  Your browser does not support the audio element.
  </audio>
    <h5 class="quote-style"><b><em>{{this.title}}</em></b></h4>
    <p class="quote-style">{{this.date}}  |  Quote # {{this.count}}</p>
    <p class="quote-style">{{this.summary}}</p>

</div>
